################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/eDmx.ArtNet/obj
/eDmx.ArtNet/bin/Debug
/Sample/bin/Debug
/Sample/obj/Debug
/Sample/obj/Release
